html{
    scroll-behavior: smooth; /*Enable scmooth scrolling*/
}
body{
    padding:100px 0 0 0!important;
    margin:0;
    .bg-transparent{
        transition: 350ms ease;
    }
    .bg-transparent.scrolled{
        background-color: #F3976C!important;
    }
    main{
        ol>li{
            margin-bottom:2rem;
        }
        ul>li{
           img{
               margin:2rem 0 1rem 0;
           }
        }    
    }
    footer{
        background-color: #F3976C;
        padding: 2rem 0;
        ul{
            list-style: none;
        }
        img{
            width:2%;
            margin:0 10px 0 10px;
        }
    }
    a{
        text-decoration: none!important;
        color:black!important;
    
        &:hover{
            background-color: white;
        }
    }
    h2{
        padding:2rem;
    }
    h3{
        padding-bottom:2rem;
    }
}

.navbar-nav{
    li>a{
        &:hover{
            text-decoration: underline!important;
        }
    }
}

.title{
    padding:3rem;
    background-color: #F3976C;
    margin-bottom: 3rem;
}
.meta-img, .alt-img{
    img{
        &:first-child{
            margin-bottom:0.25rem;
        }
    }
}
hr{
    width: 100%;
    height:2rem;
    border:1px solid black;
}
.title-container{
    margin-bottom:2rem;
}

.semantic-container, .keywords-container{
    transition:all 0.2s ease-in;
    &:hover{
        transform:scale(1.4);
    }
}

@media (max-width:768px){
    .title{
        margin-top:7rem;
        h1{
            font-size:30px!important;
        }
        p{
            font-size:15px!important;
        }
    }
}